{% extends 'base.html' %}
{% block content %}
    <h2>Добавление задачи<h2>
    <form action="add" method="post">
        <p>
            <label for="todo">Задача</label>
            <input type="text" name="todo">
        </p>
        <p>
            <label for="status">Статус</label>
            <select name="status">
                <option disabled selected>Выберите статус</option>
                <option value="need">Сделать</option>
                <option value="progress">В процессе</option>
                <option value="ready">Готово</option>
            </select>
        </p>
        <p>
            <input type="submit">
        </p>
        {% for msg in get_flashed_messages() %}
        <div class="flash">{{msg}}</div>
        {% endfor%}
    </form>
{% endblock %}